body {
    
    background-image: url("https://img.freepik.com/vector-gratis/cliente-femenino-dibujos-animados-eligiendo-productos-supermercado_74855-20106.jpg?t=st=1728586482~exp=1728590082~hmac=b79c7a1d5d1d8b571e9f840a186c9c867899ba5a3b14c41dd60c7256a9a6b741&w=1380");
    
    background-repeat: no-repeat;
}

button {
    background-image: linear-gradient(to right, #111539, #131741, #121746, #12164a, #11164f, #0d1251, #0a0f52, #060a54, #040555);
}

.c-user {
    font-size: 100px;
}

form {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-control {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.form-control:focus {
    color: white;
    border: none;
    border-bottom: solid white 2px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
}
.form-control::placeholder {
    color: rgb(197, 193, 193);
}

.c-input {
    background-color: #131484;
}
